
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align: middle;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  scroll-behavior: smooth;
  outline: unset;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
}

main.osh-container {
  width: 100% !important;
  max-width: 100% !important
}

:root {
  --font-color: #282828;
  --font-color-light: #75757a;
  --bg-color: #f5f5f5;
  --filter-border: #464646;
  --darker-bg-color: #ededed;
  --widget-border: #c7c7cd;
  --cta: #f68b1e;
  --stock-bar: #f6b01e;
  --discount-bg: #feefde;
  --bg-red: red;
  --global: #0040ce;
  --official-store: #276076;
  --error: #dd4b39;
  --status: #F9EDBE;
  --box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%)
}

.osh-ventures-bar,
body header.header-main-wrapper,
.main_footer,
.osh-footer-resources,
footer>.main-footer {
  display: none !important
}

body {
  background-color: var(--bg-color);
  display: unset !important
}

.-container {
  max-width: 480px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--font-color);
  font-size: 1.08em
}

.lazy-image {
  opacity: 0;
}

.lazy-image.loaded {
  opacity: 1;
}

.-bold {
  font-weight: 600 !important
}

.-umbrella-cat {
  padding-left: 0px !important
}

.-container a {
  text-decoration: unset;
  color: var(--font-color)
}

.-hide {
  display: none !important
}

.md-radio input[type="radio"],
.-right label,
.-right .-dropdown {
  display: none
}

.-global,
.-cta,
.-product .-cta,
.-trigger .-txt,
.-applied-filters .-applied-filter,
.-right .-dropdown .-option {
  color: white
}

.-banner,
.-col,
.-product,
.-filter-list,
.-right label,
.-sort-by .-arrow::before,
.-sort-by .-stack .-step,
.-sub-header .-to-page .-text {
  background-color: white
}

.-banner,
.-center,
.-products-found,
.-applied-filters .-applied-filter,
.-filter-list,
.-sub-header,
.-product .-cta {
  padding: 8px
}

.-banner,
.md-checkbox,
.md-radio label,
.-sort-by .-stack .-step,
.md-checkbox input,
.-right.-show .-dropdown,
.md-checkbox>span::after {
  display: block
}

.-banner img,
.price-wrap .-pw.-tb,
.price-wrap #min-price,
.price-wrap #max-price,
.-center .-search-input,
.-sub-header .-num,
.-cta,
.-right label,
.-product,
.-product .-img img,
.-product .-details .-tag,
.-product .-cta {
  border-radius: 4px
}

.-banner img,
.md-checkbox input,
.-cta,
.-sub-header span.-col {
  transform: scale(1)
}

.-banner img,
.-filters,
.-filters-trigger,
.-sort-by .-stack .-step:nth-child(1),
.-filter.-price,
.price-field input[type=range],
.price-wrap #min-price,
.price-wrap #max-price,
.-stars::before,
.-filter.-brand .-search input,
.-container,
.md-checkbox>span,
.-product .-img img {
  width: 100%
}

.-filters,
.-col:first-child,
.-radio-el,
.-sub-header .-col:first-child {
  margin-left: unset
}

.-banner,
.-sort-by .-stack .-step,
.md-checkbox {
  margin: 4px 0
}

.-filters,
.-sort-by .-arrow::before,
.-sort-by .-arrow::after,
.price-wrap #min-price,
.price-wrap #max-price,
.-filter.-brand .-search input,
.-sub-header .-pagination,
.-sub-header .-to-page .-text,
.-sub-header .-to-page .-arrow,
.-sub-header .-prev::before,
.-sub-header .-next::after,
.-preloader {
  left: 50%
}

.-trigger span,
.-applied-filters .-applied-filter,
.-sort-by .-icon,
.-sort-by .-stack,
.price-wrap .-pw,
.-radio-el,
.md-checkbox>span,
.md-checkbox>span::before,
.-list express,
.-center .-center-el,
.-sub-header .-col,
.-product,
.-product .-details .-tag,
.-product .-details .-price-discount .-pd,
.-inlineblock {
  display: inline-block
}

.-vamiddle,
.-applied-filters .-applied-filter,
.-sort-by .-icon,
.-sort-by .-stack,
.price-wrap .-pw,
.-center .-center-el,
.-sub-header .-col {
  vertical-align: middle
}

.-vabaseline,
.-trigger span,
.-radio-el,
.-product .-details .-price-discount .-pd {
  vertical-align: baseline
}

.-filters .-filter.-price .-title span,
.-trigger,
.-applied-filters .-all,
.-sort-by,
.price-wrap label,
.md-radio label::before,
.-filter.-brand .-search .-search-icn,
.-header .-posabs,
.-center .-search-icn,
.-sub-header .-to-page .-text,
.-sub-header .-to-page .-arrow {
  transform: translateY(-50%)
}

.-filters .-filter.-price .-title span,
.-trigger,
.-applied-filters .-all,
.-sort-by,
.-sort-by .-arrow::before,
.price-wrap #min-price,
.price-wrap #max-price,
.md-radio label::before,
.md-radio label::after,
.-filter.-brand .-search .-search-icn,
.-filter.-brand .-search input,
.md-checkbox>span::after,
.-header .-posabs,
.-center .-search-icn,
.-right label::after,
.-sub-header .-pagination,
.-sub-header .-to-page .-text,
.-sub-header .-to-page .-arrow,
.-sub-header .-to-page .-text,
.-sub-header .-prev::before,
.-sub-header .-next::after,
.-preloader {
  top: 50%
}

.-banner,
.-col,
.-filter-list {
  box-shadow: var(--box-shadow)
}

.-global,
.-official-store,
.-boutique-officielle {
  background-color: var(--global);
  border-radius: 2px;
  line-height: 1;
  padding: 2px 4px
}

.-official-store,
.-boutique-officielle {
  background-color: var(--official-store);
  color: white
}

.-posrel {
  position: relative
}

.-posabs {
  position: absolute
}

.-posfix {
  position: fixed
}

.-vatop {
  vertical-align: top !important;
}

.-banner {
  display: block;
}

#app {
  margin-top: 4px;
}

#app .-banner {
  height: 43vw;
  max-height: 201.59px;
  overflow: hidden;
}

.-banner:hover img {
  transform: scale(1.005)
}

.-banner .-bn {
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  height: calc(100% - 16px);
  border-radius: 4px;
  width: calc(50% - 12px);
}

.-banner .-bn:last-child {
  right: 8px;
}

.-banner .-bn img {
  width: unset !important;
  height: 100%;
}


.-featurebox-title {
  text-align: center;
  background-color: white;
  padding: 8px 0;
  font-weight: 600;
}

.-freelinks {
  padding: 8px;
  background-color: white;
  margin: 8px 0;
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  margin-bottom: unset;
  padding-bottom: unset;
}

.-freelinks .-freelink {
  width: calc((100% - 24px) / 4);
  margin: 8px 4px;
  margin-top: unset;
}

.-freelinks .-freelink:nth-child(4n - 3) {
  margin-left: unset;
}

.-freelinks .-freelink:nth-child(4n) {
  margin-right: unset;
}

.-freelinks .-freelink .-img {
  /* height: 21.875vw;
  max-height: 105px; */
}

.-freelinks .-freelink .-img img {
  width: 100%;
  border-radius: 4px;
}

.-freelinks .-freelink .-txt {
  text-align: center;
  margin-top: 4px;
  padding: 4px;
  font-size: 0.9em !important;
  overflow: hidden;
  text-overflow: ellipsis;
}

.-filters {
  position: fixed;
  z-index: 200;
  max-width: 480px;
  height: 48px;
  bottom: 0;
  transform: translateX(-50%);
  pointer-events: all
}

.-filters.-fetch-loading {
  pointer-events: none
}

.-col.-filters.-open {
  height: 224px
}

.-filter-shell {
  height: 176px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-left: 8px;
}

.-col.-products {
  margin-right: unset
}

.-col:last-child {
  margin-right: unset
}

.-filters .-filter {
  border-top: 1px solid var(--darker-bg-color)
}

.-filters .-filter .-title {
  font-weight: 500;
  text-transform: uppercase;
  padding: 8px 16px;
  height: 33px;
  text-align: left !important;
}

.-filters .-filter.-price .-title .-text {
  left: 16px
}

.-filters .-title .-ctac {
  right: 16px;
  color: var(--cta);
  cursor: pointer
}

.-filters-trigger {
  height: 48px;
  box-shadow: 0 0 5px 0 var(--widget-border);
  background-color: var(--font-color);
  overflow: hidden;
}

.-trigger {
  width: 73px;
  right: 0%;
  text-align: center;
  height: 48px;
  line-height: 48px;
  cursor: pointer
}

.-fetch-loading .-trigger {
  right: -50%;
}

.-spinner {
  width: 30px;
  height: 30px;
  border-top: 2px solid white;
  border-radius: 50%;
  margin: auto;
  animation: unset;
  animation: spin .4s linear;
  right: -50%;
  top: 9px;
}

.-fetch-loading .-spinner {
  right: 21px;
  animation: spin .4s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.-trigger .-txt {
  font-size: 14px !important;
  font-weight: 600;
  margin-right: 3px
}

.-trigger .-arrow {
  width: 5px;
  height: 5px;
  border: 2px solid white;
  border-left: unset;
  border-bottom: unset;
  transform: translateY(-50%) rotate(135deg)
}

.-filters.-open .-trigger .-arrow {
  transform: translateY(0%) rotate(-45deg)
}

.-applied-filters {
  height: 100%;
  width: calc(100% - 121px);
  border-right: 1px solid var(--filter-border);
  overflow-x: auto;
  overflow-y: hidden;
  left: 48px
}

.-applied-filters .-all {
  white-space: nowrap
}

.-applied-filters .-applied-filter {
  border-radius: 8px;
  margin: 4px;
  background-color: var(--filter-border);
  font-size: 14px;
  border: 1px solid var(--widget-border);
  text-transform: capitalize;
  cursor: pointer
}

.-sort-by {
  width: 48px;
  height: 100%;
  cursor: pointer;
  padding: 0 9px
}

.-sort-by .-icon {
  width: 15px;
  height: 100%
}

.-sort-by .-arrow {
  position: relative
}

.-sort-by .-arrow::before,
.-sort-by .-arrow::after {
  content: '';
  position: absolute
}

.-sort-by .-arrow::before {
  width: 2px;
  height: 45%;
  transform: translate(-50%, -50%)
}

.-sort-by .-arrow::after {
  width: 6px;
  height: 6px;
  bottom: 27.5%;
  transform: translateX(-50%) rotate(45deg);
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  border-left: 3px solid transparent;
  border-top: 3px solid transparent
}

.-sort-by.-show .-arrow::after {
  transform: translateX(-50%) rotate(225deg);
  bottom: 60%
}

.-sort-by .-stack {
  width: 15px;
  height: unset
}

.-sort-by .-stack .-step {
  height: 2px;
  border-radius: 1px
}

.-sort-by .-stack .-step:nth-child(1) {
  margin-top: unset
}

.-sort-by .-stack .-step:nth-child(2) {
  width: 80%
}

.-sort-by .-stack .-step:nth-child(3) {
  width: 60%
}

.-sort-by .-stack .-step:nth-child(4) {
  margin-bottom: unset;
  width: 40%
}

.-filter.-price {
  border: 0
}

.price-title {
  position: relative;
  color: var(--cta);
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400
}

.price-field {
  text-align: center;
  margin: 16px auto;
  margin-top: unset;
  font-weight: 500;
  text-decoration: underline
}

.price-field input[type=range] {
  position: absolute;
  outline: 0;
  border-radius: 5px;
  pointer-events: none;
  -webkit-appearance: none;
  height: 5px;
  background-color: var(--cta)
}

.price-field input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none
}

.price-field input[type=range]:active,
.price-field input[type=range]:focus {
  outline: 0
}

.price-field input[type=range]::-ms-track {
  width: 188px;
  height: 2px;
  outline: 0;
  border-radius: 5px;
  pointer-events: none;
  background-color: transparent;
  border-color: transparent;
  color: transparent;
  border-radius: 5px
}

.price-field input[type=range]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  margin-top: -2px;
  background-color: var(--cta);
  cursor: pointer;
  pointer-events: all;
  z-index: 1
}

.price-field input[type=range]::-moz-range-thumb {
  position: relative;
  appearance: none;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  margin-top: -2px;
  background-color: var(--cta);
  cursor: pointer;
  pointer-events: all;
  z-index: 1
}

.price-field input[type=range]::-ms-thumb {
  position: relative;
  appearance: none;
  border: 0;
  outline: 0;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  margin-top: -2px;
  background-color: var(--cta);
  cursor: pointer;
  pointer-events: all;
  z-index: 1
}

.price-field input[type=range]::-webkit-slider-runnable-track,
.price-field input[type=range]::-moz-range-track,
.price-field input[type=range]::-ms-track {
  width: 188px;
  height: 5px;
  cursor: pointer;
  background-color: var(--cta);
  border-radius: 5px
}

.price-wrap {
  width: 90%;
  margin: 0 auto;
  margin-top: 8px
}

.price-wrap .-pw {
  width: 10%;
  text-align: center;
  position: relative
}

.price-wrap .-pw.-tb {
  width: 43%;
  height: 32px;
  line-height: 32px
}

.price-wrap #min-price,
.price-wrap #max-price {
  border: 0;
  outline: 0;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: 400;
  background: transparent;
  height: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  border: 1px solid var(--widget-border);
  padding: 0 8px;
}

.price-wrap label {
  position: absolute;
  left: 8px;
  z-index: 1;
  top: 54%;
  line-height: unset;
  height: unset;
  display: none;
}

.price-field input[type=range]:hover::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.5px var(--cta);
  transition-duration: 0.3s
}

.price-field input[type=range]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.5px var(--cta);
  transition-duration: 0.3s
}

.-filters .-filter .-item {
  padding: 8px 32px;
  cursor: pointer
}

.-filters .-filter .-item:focus,
.-filters .-filter .-item:hover {
  background-color: var(--bg-color)
}

.-filters .-filter.-product-rating {
  padding-bottom: 8px
}

@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0)
  }

  50% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1)
  }

  100% {
    box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0)
  }
}

.md-radio {
  padding-left: 16px;
  height: 24px;
  line-height: 24px
}

.md-radio input[type="radio"]:checked+label::before {
  border-color: var(--cta);
  animation: ripple 0.2s linear forwards
}

.md-radio input[type="radio"]:checked+label::after {
  transform: translateY(-50%) scale(1)
}

.md-radio label {
  position: relative;
  margin-bottom: 0;
  cursor: pointer;
  padding-left: 25px;
  margin: 8px 0
}

.md-radio label::before,
.md-radio label::after {
  position: absolute;
  content: '';
  border-radius: 50%;
  transition: all .3s ease;
  transition-property: transform, border-color
}

.md-radio label::before {
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid var(--widget-border)
}

.md-radio label::after {
  left: 5px;
  width: 10px;
  height: 10px;
  transform: translateY(-50%) scale(0);
  background: var(--cta)
}

.-in {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f6b01e' width='16' height='12'%3E%3Cpath d='M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z'/%3E%3C/svg%3E");
  height: 100%;
  position: absolute;
  background-repeat: repeat
}

.-stars {
  height: 12px;
  width: 80px;
  position: relative
}

.-stars::before {
  content: '';
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23c7c7cd' width='16' height='12'%3E%3Cpath d='M8.58.38l1.35 2.86c.1.2.28.34.49.37l3.03.46c.53.08.74.77.35 1.16l-2.19 2.23a.7.7 0 0 0-.18.6l.52 3.15c.09.55-.47.97-.94.71l-2.7-1.49a.62.62 0 0 0-.61 0L5 11.93c-.48.25-1.04-.17-.95-.72l.52-3.15a.7.7 0 0 0-.18-.6l-2.2-2.23c-.38-.4-.17-1.08.36-1.16l3.03-.46c.21-.03.4-.17.49-.37L7.42.38c.24-.5.92-.5 1.16 0z'/%3E%3C/svg%3E");
  height: 100%;
  top: 0;
  left: 0;
  position: absolute
}

.-product_rating .-count {
  color: var(--font-color-light);
  font-size: 0.75em;
  font-weight: 500
}

.-radio-el {
  margin: 0px 2.5px;
  height: 13px
}

.-tag .-radio-el {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: unset;
  padding: 0 8px;
  border-radius: 4px;
}

.-radio-el img {
  height: 100%;
  position: absolute;
  object-fit: contain;
  top: 50%;
  left: 0%;
  transform: translateY(-50%)
}

.-filter.-brand .-list {
  height: 148px;
  overflow-y: auto;
  overflow-x: hidden
}

.-filter.-brand .-search {
  height: 32px;
  margin: 4px 16px
}

.-search-icn {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23282828' viewBox='0 0 24 24' id='search'%3E%3Cpath d='M20.773 18.51l-4.322-4.464c-.31-.32-.697-.449-.865-.285-.168.163-.556.035-.866-.286l-.061-.064A6.488 6.488 0 0 0 4.9 4.901a6.491 6.491 0 0 0 8.641 9.661l.027.029c.31.32.425.711.256.874-.168.163-.054.555.256.875l4.32 4.466c.31.32.82.33 1.141.02l1.213-1.174c.32-.31.328-.82.018-1.141zm-8.117-5.855a4.48 4.48 0 0 1-6.328 0 4.48 4.48 0 0 1 0-6.328 4.479 4.479 0 0 1 6.327 0 4.48 4.48 0 0 1 0 6.328z'%3E%3C/path%3E%3C/svg%3E")
}

.-filter.-brand .-search .-search-icn {
  width: 18px;
  height: 18px;
  left: 8px;
  position: absolute;
  z-index: 1
}

.-filter.-brand .-search input {
  position: absolute;
  transform: translate(-50%, -50%);
  height: 100%;
  border: 1px solid var(--widget-border);
  border-radius: 99px;
  padding: 0 32px;
  box-sizing: border-box
}

.-filter.-brand .-search input:focus,
.-filter.-brand .-search input:active {
  outline: unset
}

.md-checkbox {
  z-index: 0;
  position: relative;
  height: 24px;
  line-height: 24px;
  margin-left: 16px
}

.md-checkbox input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: -1;
  position: absolute;
  left: -10px;
  top: -8px;
  margin: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: none;
  outline: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.2s
}

.md-checkbox>span {
  cursor: pointer
}

.md-checkbox>span::before {
  content: '';
  margin: 3px 11px 3px 1px;
  border: 2px solid;
  border-color: var(--widget-border);
  border-radius: 2px;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  transition: border-color 0.2s, background-color 0.2s
}

.md-checkbox>span::after {
  content: '';
  position: absolute;
  left: 1.5%;
  width: 10px;
  height: 5px;
  border: 2px solid transparent;
  border-right: none;
  border-top: none;
  transform: translateY(-50%) rotate(-45deg)
}

.md-checkbox>input:checked,
.md-checkbox>input:indeterminate {
  background-color: var(--cta)
}

.md-checkbox>input:checked+span::before,
.md-checkbox>input:indeterminate+span::before {
  border-color: var(--cta);
  background-color: var(--cta)
}

.md-checkbox>input:checked+span::after,
.md-checkbox>input:indeterminate+span::after {
  border-color: white
}

.md-checkbox>input:indeterminate+span::after {
  border-left: none;
  transform: translte(4px, 3px)
}

.md-checkbox>input:active {
  opacity: 1;
  transform: scale(0);
  transition: transform 0s, opacity 0s
}

.md-checkbox>input:active+span::before {
  border-color: var(--cta)
}

.md-checkbox>input:checked:active+span::before {
  border-color: transparent
}

.-list express {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 114 12' id='express'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23282828' d='M12.85 9.31c-.5.35-1.27.52-2.46.52H8.17c-.25 0-.5 0-.68-.08-.25-.1-.42-.1-.68-.18a1.53 1.53 0 0 1-.6-.43c-.17-.18-.25-.35-.42-.61-.09-.26-.17-.52-.17-.87V2.09h1.45v5.48c0 .61.5.87 1.61.87h1.96c1.02 0 1.53-.26 1.53-.87V2.09h1.45v5.57c0 .7-.25 1.3-.77 1.65zm11.58.61V4.87l-3.06 4.7c-.09.18-.26.26-.34.35-.17.09-.26.09-.43.09-.34 0-.6-.18-.85-.52l-3.15-4.7v5.13h-1.45V2.87a.8.8 0 0 1 .26-.6c.17-.18.34-.27.5-.27.35 0 .6.17.78.44L20.52 8l3.74-5.57a.89.89 0 0 1 .77-.44c.25 0 .42.09.6.26.16.18.25.35.25.7v6.96h-1.45zm2.81-.09V2h1.45v7.83h-1.45zM34.9 4l-1.36 2.35h2.72L34.9 4zm3.5 5.92l-1.2-2.09h-4.43l-1.19 2.09h-1.7l4.26-7.31a.9.9 0 0 1 .76-.52c.34 0 .6.17.85.52l4.18 7.31h-1.54zM4.33 6.35c0 2.35-.85 3.4-2.38 3.74-1.45.35-1.96.35-1.96.35V8.8c.6 0 1.45-.18 2.04-.35.51-.17.94-.7.85-2.09V2h1.45v4.35z'%3E%3C/path%3E%3Cpath fill='%23F63' d='M57.47 10a4.1 4.1 0 0 1-1.2-.15c-.31-.1-.57-.25-.75-.47-.2-.21-.33-.5-.4-.84A6.05 6.05 0 0 1 55 7.26V4.74c0-.5.04-.92.12-1.27.07-.36.2-.64.4-.85.18-.22.44-.38.76-.47.31-.1.71-.15 1.19-.15h4.46v1.17h-4.46c-.29 0-.51.03-.69.08a.8.8 0 0 0-.4.26c-.1.12-.17.28-.21.48-.04.2-.05.45-.05.75v.67h5.81v1.15h-5.81v.7c0 .32.01.58.05.78.04.2.1.35.2.47s.24.2.41.25c.18.04.4.07.69.07h4.5V10h-4.5zm12.69 0l-3.02-3.25L64.09 10h-1.64l3.92-4.13L62.67 2h1.68l2.84 3.05L70.15 2h1.6l-3.72 3.87L71.86 10h-1.7zm8.85-5.45a3 3 0 0 0-.06-.68.85.85 0 0 0-.22-.42.83.83 0 0 0-.4-.2 2.64 2.64 0 0 0-.6-.07h-4.07v3.35h4.09c.24 0 .44-.02.6-.05a.8.8 0 0 0 .39-.2c.1-.1.17-.22.2-.4.05-.16.07-.38.07-.64v-.7zm-5.35 3.1V10h-1.12V2.01h5.2c.46 0 .84.05 1.14.14.3.09.55.23.74.44.18.2.32.46.4.78.07.32.1.71.1 1.18v.68c0 .47-.03.86-.1 1.17-.08.3-.2.55-.39.74-.18.19-.43.32-.73.4-.31.07-.7.1-1.16.1h-4.08zm13.9-3.27c0-.26-.02-.47-.06-.63a.67.67 0 0 0-.22-.37.93.93 0 0 0-.45-.18 4.68 4.68 0 0 0-.74-.05H82.2v3h3.9c.29 0 .53-.02.72-.06.19-.03.34-.09.45-.18a.7.7 0 0 0 .22-.38c.04-.16.06-.38.06-.64v-.5zM86.62 10L82.2 7.08V10h-1.12V2h5.01c.44 0 .83.03 1.15.1a1.52 1.52 0 0 1 1.28 1.07c.1.3.15.71.15 1.21v.5c0 .46-.05.84-.15 1.14a1.6 1.6 0 0 1-1.28 1.1c-.32.07-.7.11-1.15.11h-1.66L88.76 10h-2.13zm5.4 0a4.1 4.1 0 0 1-1.19-.15c-.31-.1-.57-.25-.76-.47-.19-.21-.32-.5-.4-.84a6.05 6.05 0 0 1-.11-1.28V4.74c0-.5.04-.92.11-1.27.08-.36.21-.64.4-.85.2-.22.45-.38.76-.47.32-.1.72-.15 1.2-.15h4.46v1.17h-4.47c-.28 0-.5.03-.68.08a.8.8 0 0 0-.41.26c-.1.12-.17.28-.2.48-.04.2-.05.45-.05.75v.67h5.81v1.15H90.7v.7c0 .32.01.58.05.78.03.2.1.35.2.47s.24.2.41.25c.17.04.4.07.68.07h4.51V10h-4.5zm5.3 0V8.83h5.02c.32 0 .55-.06.7-.17.13-.1.2-.34.2-.69v-.59c0-.32-.07-.55-.2-.68-.15-.12-.38-.18-.7-.18H99.1c-.34 0-.63-.04-.86-.13a1.22 1.22 0 0 1-.82-.98 4.25 4.25 0 0 1-.08-.86V4.2c0-.41.03-.75.1-1.03.06-.28.16-.5.3-.68.15-.18.33-.3.55-.38.23-.08.5-.12.81-.12h5.19v1.17h-5.11c-.28 0-.48.07-.61.2-.13.14-.2.41-.2.84v.34c0 .32.06.54.17.66.12.12.33.18.62.18h3.2c.35 0 .65.04.9.11.24.08.44.2.6.36.15.16.26.37.32.62.07.25.1.55.1.9v.6c0 .36-.03.67-.1.92-.06.26-.17.47-.33.63-.15.17-.35.28-.6.36a3.1 3.1 0 0 1-.9.11h-5.02zm7.72 0V8.83h5.01c.32 0 .56-.06.7-.17.14-.1.2-.34.2-.69v-.59c0-.32-.06-.55-.2-.68-.14-.12-.37-.18-.69-.18h-3.25c-.35 0-.64-.04-.86-.13a1.22 1.22 0 0 1-.83-.98 4.25 4.25 0 0 1-.07-.86V4.2c0-.41.03-.75.1-1.03.06-.28.16-.5.3-.68.14-.18.32-.3.55-.38.22-.08.5-.12.8-.12h5.09v1.17h-5c-.28 0-.48.07-.62.2-.13.14-.2.41-.2.84v.34c0 .32.06.54.18.66s.32.18.62.18h3.2c.35 0 .65.04.89.11.24.08.44.2.6.36.15.16.26.37.33.62s.1.55.1.9v.6c0 .36-.03.67-.1.92-.07.26-.18.47-.33.63-.16.17-.36.28-.6.36a3.1 3.1 0 0 1-.9.11h-5.02zm-52.1-8.96c.04.05.06.12.04.2l-2.83 7.6a.18.18 0 0 1-.1.1.17.17 0 0 1-.14 0l-2.87-.65-1.01 2.65a.17.17 0 0 1-.18.05.18.18 0 0 1-.12-.15l.04-2.97c0-.05.09-.14.12-.18l4.98-4.65-6.43 4.56a.17.17 0 0 1-.18.01L41.1 6.52a.18.18 0 0 1-.1-.16c0-.07.04-.13.1-.16l11.66-5.18a.17.17 0 0 1 .18.02z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  width: 80%;
  height: 13px;
  background-repeat: no-repeat
}

.-filter-list {
  border-bottom: 1px solid var(--darker-bg-color);
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  height: 73px;
  margin-top: 8px;
}

.-header {
  height: 56px;
  border-top: 1px solid var(--darker-bg-color)
}

.-temporary-host {
  height: 0px;
  overflow: hidden
}

.-header .-left {
  left: 16px;
  font-weight: 500;
  width: 20%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}

.-center {
  position: relative;
  padding-left: unset;
}

.-center .-search-icn {
  width: 24px;
  height: 24px;
  left: 8px
}

.-top-search {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.-center .-search-input,
.-sub-header .-num {
  width: calc(100% - 93px);
  outline: unset;
  border: 1px solid var(--widget-border);
  height: 38px;
  padding-left: 40px
}

.-center .-search-input {
  width: 70%;
}

.-cta {
  background-color: var(--cta);
  padding: 12px 16px;
  font-weight: 600;
  width: 85px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  text-transform: uppercase;
  height: 40px;
  margin-left: 4px;
  font-size: 0.9em
}

.-cta:active {
  transform: scale(0.98)
}

.-center .-search-btn {
  border: unset;
  outline: unset;
  padding-top: 10px;
  width: calc(30% - 4px);
  padding: 8px;
  height: unset;
  text-align: center;
}

.-right {
  height: 200px;
  bottom: 100%
}

.-right input {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0
}

.-right label {
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  cursor: pointer;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--widget-border);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.95em
}

.-right label::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid var(--font-color);
  border-left: unset;
  border-bottom: unset;
  right: 16px;
  transform: translateY(-60%) rotate(135deg)
}

.-right label:hover::after {
  border: 2px solid var(--cta);
  border-left: unset;
  border-bottom: unset
}

.-right.-show label::after {
  transform: translateY(-40%) rotate(-45deg)
}

.-right.-show label {
  background-color: var(--bg-color)
}

.-right .-dropdown {
  background-color: var(--font-color);
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 15%)
}

.-right .-dropdown .-option {
  height: 40px;
  line-height: 40px;
  padding: 0 16px;
  cursor: pointer;
  border-bottom: 1px solid var(--filter-border)
}

.-right .-dropdown .-option.active {
  font-weight: 500
}

.-right label:hover {
  color: var(--cta)
}

.-right .-dropdown .-option:hover {
  background-color: var(--bg-color)
}

.-filter-list .-sub-header {
  color: var(--font-color-light);
  font-size: 0.95em;
  height: 56px
}

.-products-found {
  font-size: 0.8em;
  font-weight: 500;
  background-color: var(--bg-color);
  padding-bottom: 4px;
  color: var(--font-color-light);
  position: relative;
}
.-products-found::after {
  content: 'Swipe right to see all >';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  color: var(--font-color-light);
  font-family: monospace;
  font-weight: bold;
  word-spacing: -3px;
}
.-sub-header .-pagination {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform: translate(-50%, -50%)
}

.-sub-header .-to-page {
  text-align: center;
  width: 40px
}

.-sub-header .-to-page .-text {
  font-size: 1.1em;
  width: 25%;
  height: 2px;
  transform: translate(-50%, -50%)
}

.-sub-header .-to-page .-arrow {
  width: 8px;
  height: 8px;
  border: 2px solid white;
  border-left: unset;
  border-bottom: unset;
  transform: translate(-50%, -50%) rotate(45deg)
}

.-sub-header .-col {
  margin: 0 2px
}

.-sub-header span.-col {
  width: 40px;
  height: 40px;
  border: 1px solid var(--darker-bg-color);
  cursor: pointer
}

.-sub-header span.-col:hover {
  border: 1px solid var(--widget-border)
}

.-sub-header span.-col:active {
  transform: scale(0.98)
}

.-sub-header input.-col {
  margin-right: unset;
  width: 50px
}

.-sub-header div.-col {
  width: 60px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid var(--widget-border);
  font-weight: 500;
  color: var(--font-color)
}

.-sub-header .-prev,
.-sub-header .-next {
  position: relative
}

.-sub-header .-prev::before,
.-sub-header .-next::after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border: 2px solid var(--font-color);
  border-left: unset;
  border-bottom: unset;
  transform: translate(-50%, -50%) rotate(-135deg)
}

.-sub-header .-next::after {
  transform: translate(-50%, -50%) rotate(45deg)
}

.-sub-header .-num {
  padding: 0 10px;
  width: 30%;
  margin-left: 50px
}

.-products {
  background-color: var(--bg-color);
  padding: 4px;
  padding-bottom: 56px;
  white-space: nowrap;
  overflow-x: auto;
}

.-product {
  vertical-align: top !important;
  width: calc((100% - 16px) / 2);
  margin: 4px
}

.-product:hover {
  box-shadow: 0 0 12px 0 rgb(0 0 0 / 12%)
}

.-product .-img {
  width: 46.25vw;
  max-width: 230px;
  height: 46.25vw;
  max-height: 230px;
  margin: 0 auto;
  margin-bottom: 8px
}

.-product .-details {
  padding: 0 8px;
}

.-product .-details .-name .-text {
  white-space: nowrap;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em
}

.-product .-details .-tag,
.-product .-badge {
  font-size: 0.7em;
  font-weight: 500;
  letter-spacing: 0.3px;
  white-space: nowrap;
  margin-bottom: 4px
}

.-product .-badge {
  top: 8px;
  left: 8px;
  z-index: 1;
}

.-product .-badge.-main {
  top: unset !important;
  bottom: 0%
}

.-product .-badge.-campaign {}

.-product img.-badge {
  width: 80% !important
}

.-product .-details .-price {
  margin-top: 4px
}

.-product .-details .-price.-new {
  font-size: 1.1em;
  font-weight: 500
}

.-product .-details .-price-discount {
  margin: 8px 0;
  margin-top: unset;
  margin-bottom: 2px
}

.-product .-details .-price-discount .-pd.-old {
  color: var(--font-color-light);
  font-size: 0.9em;
  text-decoration: line-through
}

.-product .-details .-price-discount .-pd.-discount {
  background-color: var(--discount-bg);
  color: var(--cta);
  padding: 2px 4px;
  font-weight: 500;
  margin-left: 8px;
  font-size: 0.9em
}

.-product .-details .-free-shipping {
  font-size: 0.69em;
  font-weight: 500;
  margin-top: 4px;
  white-space: pre-wrap;
}

.-product .-stock {
  margin-top: 8px;
}

.-product .-stock .-txt {
  font-size: .8em !important;
  font-weight: 600;
}

.-product .-stock .-stock-bar {
  background-color: var(--stock-bar);
  border-radius: 4px;
  height: 8px;
  margin-bottom: 8px;
  margin-top: 4px;
}

.-product .-cta {
  background-color: var(--cta);
  text-transform: uppercase;
  font-weight: 500;
  margin: 8px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: unset;
  font-size: 0.8em;
  width: 90%;
  height: unset
}

.-preloader.-loading {
  background-color: #dfdfdf;
  background-size: 550px;
  opacity: 1
}

.-preloader {
  width: 101%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 2;
  opacity: 0;
  overflow: hidden;
}

.-preloader::before {
  position: absolute;
  content: unset;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3), transparent);
}

.-preloader.-loading::before {
  animation: ssc-loading 1.3s infinite;
  content: '';
}

@keyframes ssc-loading {
  from {
    transform: translateX(-100%)
  }

  to {
    transform: translateX(100%)
  }
}

.-jumia-loader-wrap {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 201;
  background-color: rgba(0, 0, 0, 0.7)
}

#page-load-wrap {
  display: block
}

.-page-loaded #page-load-wrap {
  display: none
}

.-fetch-loading .-jumia-loader-wrap {
  display: block
}

#page-load-wrap .-circle,
.-fetch-loading .-jumia-loader .-circle {
  animation: preloader-rotation 1.15s linear infinite
}

.-page-loaded #page-load-wrap .-circle {
  animation: unset
}

.-jumia-loader {
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  opacity: 0.9
}

.-jumia-loader .-cart {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' width='24' viewBox='0 0 24 24' id='svg7'%3E%3Cg id='g1094' transform='matrix(8.30027,0,0,8.30027,-1900.7,-13723.7)'%3E%3Cpath fill='%23fff' id='path98' d='m 231.31032,1654.9465 c -0.0194,0.078 -0.0388,0.136 -0.0582,0.1941 v 0.019 c -0.0193,0.058 -0.0581,0.077 -0.0969,0.077 h -0.0388 c -0.0194,0 -0.0388,-0.019 -0.0581,-0.019 -0.0194,-0.019 -0.0194,-0.039 -0.0194,-0.058 l 0.0388,-0.2133 c 0,-0.019 0,-0.038 0.0194,-0.038 -0.31008,-0.078 -0.54257,-0.3493 -0.54257,-0.698 0,-0.058 0,-0.097 0.0194,-0.1551 h -0.89135 c -0.0582,0 -0.0969,-0.038 -0.11628,-0.077 l -0.0388,-0.1743 c -0.0194,-0.078 -0.0775,-0.1162 -0.15504,-0.1162 h -0.27125 c -0.0582,0 -0.0969,0.038 -0.0969,0.097 0,0.057 0.0388,0.096 0.0969,0.096 h 0.13563 c 0.0581,0 0.0969,0.039 0.11628,0.078 l 0.34877,1.3952 c 0.0194,0.077 0.0775,0.1162 0.15504,0.1162 h 1.41457 c 0.0775,0 0.13562,-0.039 0.15497,-0.1162 l 0.11628,-0.4847 c -0.0775,0.039 -0.15497,0.039 -0.23249,0.058 z m -1.60837,-0.3876 c -0.0194,-0.058 -0.0194,-0.096 -0.0388,-0.1552 l -0.0193,-0.038 c 0,-0.019 0,-0.039 0.0193,-0.058 0.0194,-0.02 0.0388,-0.039 0.0582,-0.039 h 0.0969 c 0.0581,0 0.0969,0.039 0.0969,0.097 l 0.0388,0.1935 c 0,0.02 0,0.039 -0.0194,0.058 -0.0194,0.02 -0.0388,0.02 -0.0582,0.02 h -0.0581 c -0.0582,0 -0.0969,-0.02 -0.11628,-0.078 z m 0.34877,0.659 c -0.0193,0.019 -0.0387,0.039 -0.0581,0.039 h -0.0193 c -0.0582,0 -0.0969,-0.039 -0.11628,-0.078 v -0.019 c -0.0194,-0.058 -0.0388,-0.1163 -0.0582,-0.1935 0,-0.02 0,-0.039 0.0194,-0.058 0.0194,-0.02 0.0388,-0.039 0.0581,-0.039 h 0.0582 c 0.0581,0 0.0969,0.039 0.0969,0.097 l 0.0388,0.2126 c 0,0 0,0.02 -0.0194,0.039 z m 0.3876,-0.058 c 0,0.039 -0.0388,0.077 -0.0775,0.077 -0.0388,0 -0.0775,-0.038 -0.0969,-0.077 l -0.0388,-0.2325 c 0,-0.019 0,-0.039 0.0193,-0.058 0.0194,-0.02 0.0388,-0.039 0.0581,-0.039 h 0.0388 c 0.0582,0 0.0969,0.039 0.0969,0.097 z m 0,-0.6009 c 0,0.058 -0.0388,0.097 -0.0969,0.097 h -0.0774 c -0.0582,0 -0.0969,-0.039 -0.0969,-0.097 l -0.0388,-0.1935 c 0,-0.019 0,-0.039 0.0194,-0.058 0.0193,-0.02 0.0388,-0.039 0.0581,-0.039 h 0.11628 c 0.0889,0.024 0.0869,0.12 0.11628,0.2906 z m 0.36819,0.62 c 0,0.039 -0.0388,0.078 -0.0969,0.078 -0.0388,0 -0.0775,-0.039 -0.0775,-0.078 v -0.2126 c 0,-0.058 0.0388,-0.097 0.0969,-0.097 h 0.0388 c 0.0193,0 0.0388,0.019 0.0581,0.039 0.0228,0.053 -0.008,0.2052 -0.0193,0.2707 z' style='fill-rule:nonzero;stroke-width:0.0683598' /%3E%3Cpath fill='%23fff' id='path102' d='m 229.93451,1655.5863 c -0.13569,0 -0.25191,0.1162 -0.25191,0.2707 0,0.1552 0.11622,0.2714 0.25191,0.2714 0.13563,0 0.25191,-0.1162 0.25191,-0.2714 0,-0.1353 -0.11628,-0.2707 -0.25191,-0.2707 z' style='fill-rule:nonzero;stroke-width:0.0683598' /%3E%3Cpath fill='%23fff' id='path104' d='m 231.17462,1655.5863 c -0.13562,0 -0.2519,0.1162 -0.2519,0.2707 0,0.1552 0.11628,0.2714 0.2519,0.2714 0.1357,0 0.25191,-0.1162 0.25191,-0.2714 0,-0.1353 -0.11621,-0.2707 -0.25191,-0.2707 z' style='fill-rule:nonzero;stroke-width:0.0683598' /%3E%3C/g%3E%3C/svg%3E");
  width: 100%;
  height: 100%
}

.-jumia-loader .-circle {
  width: 10px;
  height: 10px;
  background-repeat: no-repeat;
  transform: translateX(5%);
  top: 5%;
  right: -5%;
  transform-origin: center;
  animation: unset;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='10' width='10' viewBox='0 0 10 10'%3E%3Cg id='g1094' transform='matrix(8.30027,0,0,8.30027,-1900.7,-13723.7)'%3E%3Cpath id='path100' d='m 229.59498,1653.4059 c -0.32943,0 -0.60075,0.2707 -0.60075,0.6002 0,0.3295 0.27132,0.6009 0.60075,0.6009 0.32942,0 0.60068,-0.2714 0.60068,-0.6009 0,-0.3295 -0.27126,-0.6002 -0.60068,-0.6002 z m 0.29066,1.0267 -0.31008,-0.1551 -0.31001,0.1551 0.0581,-0.3295 -0.25191,-0.2324 0.34884,-0.058 0.15497,-0.3103 0.15504,0.3103 0.34878,0.058 -0.25191,0.2324 z' style='fill:%23fff;fill-rule:nonzero;stroke-width:0.0683598' /%3E%3C/g%3E%3C/svg%3E%0A")
}

@keyframes preloader-rotation {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(359deg)
  }
}

.-search-icn.-top-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 13px
}

/* MLP transform */
.main_header {
  height: 56px !important;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%);
  position: relative
}

.main_header--nav-left {
  height: 100% !important
}

.main_header--nav-left>.-icon,
.main_header--nav-left--burger.-icon {
  top: 50% !important;
  transform: translateY(-50%) !important
}

.header--icon-avatar,
.header--icon-cart,
.main_header--nav-left--burger.-icon {
  width: 24px;
  height: 24px;
  position: relative;
  font-size: unset !important
}

.osh-font-avatar:before,
.osh-font-cart:before,
.osh-font-burger:before {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '';
}

.osh-font-avatar::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' id='person'%3E%3Cpath d='M4.2 19.89c.44-2.7 2.88-5.55 5.88-5.55h3.84c3 0 5.44 2.84 5.88 5.55H4.2zM12 4.1a4.06 4.06 0 110 8.12 4.06 4.06 0 010-8.12zm7.52 10.68a8.45 8.45 0 00-3.27-2.16A6.18 6.18 0 0012 2a6.17 6.17 0 00-4.25 10.63A8.91 8.91 0 002 20.94V22h20v-1.06c0-2.28-.88-4.46-2.48-6.15z'%3E%3C/path%3E%3C/svg%3E");
}

.osh-font-cart:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' id='shopping-cart'%3E%3Cpath fill='none' d='M0 0h24v24H0V0z'%3E%3C/path%3E%3Cpath fill='%23282828' d='M15.55 13c.75 0 1.41-.41 1.75-1.03l3.58-6.49A.996.996 0 0 0 20.01 4H5.21l-.94-2H1v2h2l3.6 7.59-1.35 2.44C4.52 15.37 5.48 17 7 17h12v-2H7l1.1-2h7.45zM6.16 6h12.15l-2.76 5H8.53L6.16 6zM7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z'%3E%3C/path%3E%3C/svg%3E") !important
}

.js-cart_count {
  background: #f68b1e !important;
  font-size: 0.7em !important;
  top: 0px !important;
  letter-spacing: unset !important
}

.dropdown--content.-center {
  margin-left: unset !important;
  left: unset !important;
  position: absolute;
  margin-left: unset;
  left: unset;
  transform: translateX(-36%)
}

.main_header--nav-right {
  top: 50% !important;
  transform: translateY(-50%) !important
}

.osh-font-burger:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' id='menu'%3E%3Cpath fill='none' d='M0 0h24v24H0V0z'%3E%3C/path%3E%3Cpath fill='%23282828' d='M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z'%3E%3C/path%3E%3C/svg%3E") !important;
}

.-topbar.-search-icn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  left: 60%;
  cursor: pointer
}

.-banner .-title {
  text-align: center;
  font-weight: 600;
  margin-top: unset
}