*,*::before,*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align: middle;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  line-height: normal;
}

:root {
  --campaign: #000;
  --jumia-color: #f68b1e;
  --complement: #7a75cc;
  --friday-1: #7a75cc;
  --friday-2: #00d3aa;
  --friday-3: #0090b2;
  --friday-4: #cf3501;
  --complement-light: #c3bef7;
  --bg-color: #eaeded;
  --bg-color-2: #f5f5f5;
  --gray: #70757a;
  --dark-font: #3c4043;
  --pos-x: 50%;
  --pos-y: 50%;
}

.-today .-month,
.-today .-base,
.-m-popup .-today {
  background-color: var(--jumia-color) !important;
  color: white;
}

.-friday-1 .-month,
.-friday-1 .-base,
.-m-popup .-friday-1 {
  background-color: var(--friday-1) !important;
  color: white;
}

.-friday-2 .-month,
.-friday-2 .-base,
.-m-popup .-friday-2 {
  background-color: var(--friday-2) !important;
  color: black;
}

.-friday-3 .-month,
.-friday-3 .-base,
.-m-popup .-friday-3 {
  background-color: var(--friday-3) !important;
  color: white;
}

.-friday-4 .-month,
.-friday-4 .-base,
.-m-popup .-friday-4 {
  background-color: var(--friday-4) !important;
  color: white;
}

body main {
  font-size: 1.2em;
}

body,
body main {
  background-color: var(--bg-color);
}

.-container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--dark-font);
}

.-container a {
  color: var(--dark-font);
  text-decoration: unset;
}

.-posrel {
  position: relative;
}

.-posabs {
  position: absolute;
}

.-posfix {
  position: fixed;
}

.-inlineblock {
  display: inline-block;
}

.-vamiddle {
  vertical-align: middle;
}

.-vabaseline {
  vertical-align: baseline;
}

.-vabottom {
  vertical-align: bottom;
}

.-vatop {
  vertical-align: top;
}

.-row {

}
.-row.-banner {

}
.-row.-banner img {
  width: 100%;
}

.-calendar {
  /* background-color: white; */
}
.-calendar .-c-row {

}
.-calendar .-c-row.-head {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: var(--bg-color-2);
}
.-calendar .-c-row.-head .-c-col {
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  pointer-events: none;
  padding: 5px;
  margin-bottom: unset;
  background-color: var(--complement);
}
.-calendar .-c-row .-c-col {
  display: inline-block;
  vertical-align: middle;
  width: calc(95% / 7);
  margin: calc(5% / 14);
  text-align: center;
  border: 1px solid rgba(0,0,0,.05);
  box-shadow: 0 0 0 0 transparent;
  background-color: white;
  border-bottom: unset;
}

.-calendar .-c-row:not(.-head) .-c-col {
  cursor: pointer;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
}

.-calendar .-c-row .-c-col:hover {
  box-shadow: 0 0 0.8125rem 0 rgba(0,0,0,.05);
  border-color: rgba(0,0,0,.12);
}
.-items {
  height: 71px;
  overflow: hidden;
}
.-items .-item {
  font-size: 0.8em;
  font-weight: 600;
  text-align: left;
  margin: 3px 0;
  pointer-events: none;
}
.-m-popup .-items .-item {
  pointer-events: all;
}
.-items .-item.-more {
  font-weight: bold;
  padding: 0 5px;
}
.-items .-item .-time {
  width: 20%;
  font-size: 0.8em;
  position: relative;
  padding-left: 5px;
  font-weight: bold;
}

.-items .-item .-time .-icn,
.-items .-item .-time .-txt {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 20px);
}

.-items .-item .-time .-icn {
  width: 8px;
  height: 8px;
  position: relative;
  margin: 6px;
  border-radius: 50%;
  border: 2px solid var(--complement);
  display: none;
}

.-items .-item .-engagement {
  width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 3%;
  padding-right: 10px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 0.9em;
}
.-calendar .-c-row .-c-col .-base {
  padding: 5px 0;
  background-color: var(--bg-color-2);
}
.-calendar .-c-row .-c-col .-date {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  background-color: white;
  font-weight: bold;
  color: black;
}

.-m-popup {
  left: var(--pos-x);
  top: var(--pos-y);
  border-radius: 8px;
  width: 208px;
  transform: translate(-50%,-50%);
  z-index: 2000;
  text-align: center;
  background-color: white;
  padding: 10px;
  box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302), 0 4px 8px 3px rgba(60,64,67,0.149);

}
.-m-popup .-m-close {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 5px;
  right: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  display: none;
}

.-m-popup .-m-close:hover {
  background-color: var(--bg-color-2);
}
.-m-popup .-m-close::before,
.-m-popup .-m-close::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: var(--dark-font);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.-m-popup .-m-close::before {

}
.-m-popup .-m-close::after {
  transform: translate(-50%,-50%) rotate(135deg);
}
.-m-popup .-day {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 5px;
  padding-top: unset;
  font-size: 0.8em;
  color: var(--gray);
}
.-m-popup .-date {
  font-size: 1.3em;
  font-weight: 600;
}
.-m-popup .-items {
  overflow: auto;
  height: 100%;
  max-height: 120px;
}

.-m-popup .-items .-item {
  display: block;
}

.-m-popup .-items .-item:hover {
  background-color: var(--bg-color-2);
}

.-month {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: bold;
  padding: 5px 0;
  background-color: var(--complement-light);
}